@font-face {font-family: digital; src: url(digital.ttf); }
* {margin: 0; padding: 0;  box-sizing: border-box;}
html, body {height: 100%;  width: 100%; }
body {
background: #0d0d0d; /* color black */
display: flex;
justify-content: center;
align-items: center;
}
#clock {
font-family: digital, Arial, sans-serif;
font-size: 31vw; font-weight:900;
color: #27ff0a; /* color green */
text-shadow: 0 0 30px green, 0 0 40px green;
line-height: 20.4vh;
display: flex;
position: relative;
}
